ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}


/* Write your CSS below, don't change the rules above. */
.note{
  color: red;
}
p [value]{
  color: blue;
}
#id-selector-demo{
  color: green;
}
*{text-align: center;}
